.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    margin: auto;
    color: #282b30;
}

.intro {
    width: 100%;
    min-height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #282b30;
    color: #f0f0f0;
}

.intro h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5vw;
    color: #e9d35b;
    height: 1%;
    margin-top: 10%;
}

.intro h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    color: #f0f0f0;
    margin: 10%;
}

.row {
    display: flex;
}

.about {
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    background-color: #282b30;
    color: #f0f0f0;
}

.about h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4vw;
    color: #e9d35b;

    margin: 10%;
    margin-left: 1px;
    text-align: left;
    margin-bottom: 1%;
}

.about p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    color: white;
    margin-right: 10%;
    text-align: left;
    height: 70%;
}

.profile {
    width: 50%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    background-color: #282b30;
    color: #f0f0f0;
}

.profile img {
    width: 70%;
    height: auto;
    padding: 10%;
    padding-top: 20%;
}

.intro .prompt {
    width: 40%;
}

.about .prompt {
    width: 40%;
    font-size: 30px;
}

.prompt svg {
    font-size: 60px;
    margin: 5px;
    color: white;
}


.skills {
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #282b30;
    color: #f0f0f0;
}

.skills h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5vw;
    margin: 1%;
    color: #e9d35b;
}

.skills h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vw;
    margin: 1%;
    color: #5f7cce;
}

.skills p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    color: #f0f0f0;
}

.skills svg {
    color: white;
    margin: 7px;
    font-size: 4vw;
}

.skills .prompt {
    width: 40%;

}